

@keyframes slide-up {
 0% {
     transform:scaleY(0);
  }
  100% {
     transform:scaleY(1);
  }
}

.monster-card {
    display: flex;
    /* flex: 45%; */
    justify-content: center ;
    height:30rem;
    max-width: 50rem;
    min-width: 26rem;
    box-shadow: 4px 4px 9px hsl(0, 0%, 50%);
    margin: 1rem;
    background: white;
    animation: slide-up 2s;
}


.monster-card img {
    display: flex;
    max-width: 20rem;
    margin: 1rem;
    justify-self: center;
}

.expandable {
    transition: all .5s ease-in-out;
    transform-origin: left top;
    transform: scaleY(0);
}

.expandable:target {
    transform: scaleY(1)
}

