.nav{
    display: flex;
    justify-content: flex-end;
    padding-right: 1rem;
    background-image: url('https://upload.wikimedia.org/wikipedia/commons/9/90/Touched_by_His_Noodly_Appendage_HD.jpg');
    background-size: cover;
  
     height: 100px;
}

.link {
    margin: 1rem;
    text-decoration: none;
}

.link:hover{
    cursor: pointer;
}